body, html{
    background-color: black;
    margin: auto;
    color:white;
}

#score{
    text-align: center;
}

#game{
    /* widthCase * 28 */
    width:560px;
    /* heightCase * 28 */
    height:560px;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}

#game div{
    width:20px;
    height:20px;
}

#game div.mur{
    background-color: rgb(0, 98, 255);
}

#game div.point{
    background-color: #ff8a00;
    border-radius: 50%;
    border: black solid 7px;
    box-sizing: border-box;
}

#game div.fantome-area{
    background-color: gray;
}

#game div.fantome{
    background-image: url("pacmansprites.png");
    border-radius: 35%;
    background-position-y: 96px;
    background-position-x: -3px;
    animation: fantomeAnimation 1s infinite step-end;
    border: black solid 2px;
    box-sizing: border-box;
}
#game div.fantome:nth-child(1n+1){
    background-position-y: 96px;
}
#game div.fantome:nth-child(2n+2){
    background-position-y: 80px;
}
#game div.fantome:nth-child(3n+3){
    background-position-y: 64px;
}
#game div.fantome:nth-child(4n+4){
    background-position-y: 48px;
}

@keyframes fantomeAnimation {
    0%{
        background-position-x: -3px;
    }
    15%{
        background-position-x: -19px;
    }
    30%{
        background-position-x: -35px;
    }
    45%{
        background-position-x: -51px;
    }
    
    60%{
        background-position-x: -67px;
    }
    
    75%{
        background-position-x: -83px;
    }
    
    90%{
        background-position-x: -99px;
    }
    
    100%{
        background-position-x: -115px;
    }
}

#game.pacmanCanEatGhost div.fantome{
    background-position-y: 96px;
    background-position-x: -130px;
    animation: animationGhostEaten 0.3s infinite step-end;
}
@keyframes animationGhostEaten {
    0%{
        background-position-x: -130px;
    }
    100%{
        background-position-x: -147px;

    }
}

#game div.point-puissance{
    background-color: #00ff66;
    border-radius: 50%;
    border: black solid 3px;
    box-sizing: border-box;
}

#game div.pacman{
    background-image: url("pacmansprites.png");
    background-position-x: 0px;
    background-position-y: 0px;
    animation: pacmanAnimation 1s infinite step-end;
    border-radius: 50%;
    border: black solid 2px;
    box-sizing: border-box;
}

@keyframes pacmanAnimation {
    0%{
        background-position-x: 0px;
    }
    33%{
        background-position-x: -16px;
    }
    66%{
        background-position-x: -32px;
    }
    100%{

    }
}

.manette{
    display: flex;
    justify-content: center;
}